<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand">Recipe Book</a>
    </div>
    <div class="navbar-default">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active">
          <a routerLink="/recipes">Recipes</a>
        </li>
        <li routerLinkActive="active" >
          <a routerLink="/shopping-list">Shopping List</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <ng-template [ngIf]="!(authState | async).authenticated">
            <li><a routerLink="/signup">Register</a></li>
            <li><a routerLink="/signin">Login</a></li>
        </ng-template>
        <li class="dropdown open" appDropdown *ngIf="(authState | async).authenticated">
          <a style="cursor: pointer" class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li (click)="onSaveData()"><a style="cursor: pointer">Save Data</a></li>
            <li (click)="onFetchData()"><a style="cursor: pointer">Fecth Data</a></li>
          </ul>
        </li>
        <li>
          <a style="cursor: pointer;" (click)="onLogout()" *ngIf="(authState | async).authenticated">Logout</a>
        </li>
     </ul>
    </div>
  </div>
</nav>
